.chat-content-container {
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--accent);
}

.chat-content {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  height: 100%;
}

.messages-list-center-container {
  position: sticky;
  bottom: 0;
  width: 100%;
}

.chat-header {
  background-color: var(--current-background);
  color: var(--current-foreground);
  z-index: 10;

  box-shadow: oklch(0% 0 0 / 10%) 0px 0px 0px 1px;
}

#scrolled-to-top {
  min-height: 100px;
}

.messages-list-container {
  position: relative;
}
