.chat {
  display: block;
  text-decoration: none;
  color: inherit;
  box-shadow: oklch(0% 0 0 / 10%) 0px 0px 0px 1px;
  border-right: 2px;
  border-style: solid;
  border-color: oklch(0% 0 0 / 10%);

  &:focus,
  &[active="true"] {
    outline-offset: -4px;
  }

  & h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.chat-last-message {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.avatar-container {
  display: flex;
  align-items: center;
}
