.messages-container {
  position: relative;
}

.page-container,
.chatlist-container {
  height: 100vh;
}

.page-container {
  overflow: hidden;
}

.chatlist-container {
  overflow-y: auto;
  background-color: var(--light);
  z-index: 2;
}

.chatlist-container,
.messages-interior {
  transition: .3s ease-in-out;
}

.messages-interior {
  width: 100%;
}

days-l {
  display: flex;
  flex-direction: column-reverse;
}
